body {
  margin: 0;
  padding: 0;
}

.wrap{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
}
.pages{
  margin: 0 auto;
  width: 414px;
  height: 898px;
  display: flex;
  flex-direction: column;
  background-color: #C4C4C4;
  overflow: hidden;
}
.header{
  width: 414px;
  height: 85px;
  padding-left: 10px;
}
.banner{
  width: 414px;
  height: 35px;
  margin: 0 ;
  padding: 0;
}
.bgcWhite{
  background-color: #fff;
}

.infographic {
  width: 376px;
  min-height: 480px;  
  max-height: 480px;  
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.triangle {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  left: 35px;
  bottom: 15px;
}

.triangleimg {
  width: 100%;
  height: 100%;
}

.BtnPages {
  align-self: center;
  position: relative;
  bottom: 50px;
}

.Speaker {
  width: 240px;
  height: 240px;
  overflow: hidden;
  align-self: center;
}

.infographicImg{
  margin-bottom 10px: ;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.infographicImg2{
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}


.infographicQ {
  padding-left: 20px;
  padding-right: 20px;
}

.infographicText {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}